<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Builder and Nature start -->
	<extension
		id="MSVLBuilder"
		name="%MSVL.Project.Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="cn.edu.xidian.ictt.msvlide.project.builder.MSVLBuilder"></run>
		</builder>
	</extension>
	
	<extension
		id="PMCBuilder"
		name="%MSVL.Project.PMC.Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="cn.edu.xidian.ictt.msvlide.project.builder.PMCBuilder"></run>
		</builder>
	</extension>
	
	<extension
		id="UMCBuilder"
		name="%MSVL.Project.UMC.Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="cn.edu.xidian.ictt.msvlide.project.builder.UMCBuilder"></run>
		</builder>
	</extension>
   
	<extension
		id="MSVLNature"
		name="%MSVL.Project.Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="cn.edu.xidian.ictt.msvlide.project.nature.MSVLNature"></run>
		</runtime>
		<builder
			id="cn.edu.xidian.ictt.msvlide.MSVLBuilder">
		</builder>
		<builder
			id="cn.edu.xidian.ictt.msvlide.PMCBuilder">
		</builder>
		<builder
			id="cn.edu.xidian.ictt.msvlide.UMCBuilder">
		</builder>
	</extension>
	
	<extension
       id="MSVLNatureImages"
       name="%MSVL.Project.Nature.Images.Name"
       point="org.eclipse.ui.ide.projectNatureImages">
		<image
			id="cn.edu.xidian.ictt.msvlide.project.nature.image"
			icon="icons/m_16.png"
			natureId="cn.edu.xidian.ictt.msvlide.MSVLNature">
		</image>
	</extension>
	<!-- Builder and Nature end -->
	
	<extension
		id="cn.edu.xidian.ictt.msvlide.marker.project"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.marker"/>
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
		<attribute name="severity"/>
		<attribute name="message"/>
	</extension>

	<!-- new project start-->
	<extension
		point="org.eclipse.ui.newWizards">
		<category
			name="%MSVL.Project.Category"
			id="cn.edu.xidian.ictt.msvlide.newwizards.category">
		</category>
		<wizard
            name="%MSVL.Project"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateProject"
            preferredPerspectives="cn.edu.xidian.ictt.msvlide.perspective"
            project="true"
            finalPerspective="cn.edu.xidian.ictt.msvlide.perspective"
            id="cn.edu.xidian.ictt.msvlide.newwizards.project">
			<description>%MSVL.Project.New.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Main"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateMainFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateMainFile">
            <description>%MSVL.File.New.Maim.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Function"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateFuncFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateFuncFile">
            <description>%MSVL.File.New.Function.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Header"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateHeaderFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateHeaderFile">
            <description>%MSVL.File.New.Header.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Property"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreatePropertyFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreatePropertyFile">
            <description>%MSVL.File.New.Property.Description</description>
		</wizard>
	</extension>
	<!-- new project end-->
	
	<!-- Project Property Pages start -->
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			id="cn.edu.xidian.ictt.msvlide.project.propertypage"
			name="%MSVL.Project.Property.Page.Name"
			class="cn.edu.xidian.ictt.msvlide.ui.property.BuildOptions">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test 
						property="org.eclipse.core.resources.projectNature" 
						value="cn.edu.xidian.ictt.msvlide.MSVLNature"/>
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	<!-- Project Property Pages end -->
	
	<!-- console start -->
	<extension
		point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory 
			label="%MSVL.Builder.Console"
			class="cn.edu.xidian.ictt.msvlide.console.MConsole"
			icon="icons/console_16.ico">
		</consoleFactory>
	</extension>
	<!-- console end -->
	
	<!-- action sets start -->
	<extension
		point="org.eclipse.ui.actionSets">
		<!-- convert -->
		<actionSet
			label="%MSVL.ActionSet.Convert"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Convert">
			<menu
				label="%MSVL.ActionSet.Convert.Menu"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.c2msvl"
				label="%MSVL.ActionSet.Convert.C"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.C.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.convert.C2MSVLAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.verilog2msvl"
				label="%MSVL.ActionSet.Convert.Verilog"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.Verilog.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.convert.Verilog2MSVLAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.hdl2msvl"
				label="%MSVL.ActionSet.Convert.VHDL"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.VHDL.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.convert.VHDL2MSVLAction">
			</action>
		</actionSet>
		
		<!-- MSVL Builder  -->
		<actionSet
			label="%MSVL.ActionSet.Build"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Build">
			<menu
				label="%MSVL"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.build.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.build.s"
				label="%MSVL.Build.S"
				icon="icons/build_16.ico"
				tooltip="%MSVL.Build.Tooltip.S"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.build.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.BuildSAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.build.m"
				label="%MSVL.Build.M"
				icon="icons/build_16.ico"
				tooltip="%MSVL.Build.Tooltip.M"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.build.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.BuildMAction">
			</action>
			
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.clean.action"
				label="%MSVL.Clean"
				icon="icons/clean_16.ico"
				tooltip="%MSVL.Clean.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.build.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.CleanAction">
			</action>
		</actionSet>
		
		<!-- Model Checker -->
		<actionSet
			label="%MSVL.ActionSet.ModelChecker"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Checker">
			<menu
				label="%MSVL.ActionSet.ModelChecker.Menu"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			
			<!-- PMC based Simulation -->
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.pmc.simulation"
				label="%MSVL.ActionSet.ModelChecker.PMC.S"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.PMC.S.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.PMCSAction">
			</action>
			<!-- PMC based Model -->
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.pmc.modeling"
				label="%MSVL.ActionSet.ModelChecker.PMC.M"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.PMC.M.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.PMCMAction">
			</action>
			
			<!-- UMC based Simulation -->
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.umc.simulation"
				label="%MSVL.ActionSet.ModelChecker.UMC.S"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.UMC.S.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.UMCSAction">
			</action>
			<!-- PMC based Model -->
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.umc.modeling"
				label="%MSVL.ActionSet.ModelChecker.UMC.M"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.UMC.M.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.build.UMCMAction">
			</action>
		</actionSet>
	</extension>
	<!-- action sets end -->
	
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			id="cn.edu.xidian.ictt.msvlide.perspective"
			name="MSVL"
			icon="icons/sample.gif"
			class="cn.edu.xidian.ictt.msvlide.perspective.Factory">
			<description>%MSVL.Perspective.Description</description>
		</perspective>
	</extension>
	
	<!-- launch start -->
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<!-- RUN Shortcut -->
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.RUNSShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.launchshortcut.simulation"
			label= "%MSVL.LaunchShortcut.Name.Simulation"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count
							value= "1">
						</count>
						<iterate>
							<or>
								<adapt type="org.eclipse.core.resources.IProject">
									<test property="org.eclipse.core.resources.projectNature" value="cn.edu.xidian.ictt.msvlide.MSVLNature"/>
								</adapt>
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.m$"/>
								</adapt>
							</or>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.RUNMShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.launchshortcut.modeling"
			label= "%MSVL.LaunchShortcut.Name.Modeling"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count
							value= "1">
						</count>
						<iterate>
							<or>
								<adapt type="org.eclipse.core.resources.IProject">
									<test property="org.eclipse.core.resources.projectNature" value="cn.edu.xidian.ictt.msvlide.MSVLNature"/>
								</adapt>
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.m$"/>
								</adapt>
							</or>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		
		<!-- PMC Shortcut -->
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.PMCSShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.pmcshortcut.simulation"
			label= "%MSVL.ParallelModelChecker.Shortcut.Name.Simulation"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count value= "1"></count>
						<iterate>
							<!--<or>-->
								<!--<adapt type="org.eclipse.core.resources.IFolder">
									<test property="org.eclipse.debug.ui.matchesPattern" value="pmc"/>
								</adapt>-->
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.p$"/>
								</adapt>
							<!--</or>-->
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.PMCMShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.pmcshortcut.modeling"
			label= "%MSVL.ParallelModelChecker.Shortcut.Name.Modeling"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count value= "1"></count>
						<iterate>
							<!--<or>-->
								<!--<adapt type="org.eclipse.core.resources.IFolder">
									<test property="org.eclipse.debug.ui.matchesPattern" value="pmc"/>
								</adapt>-->
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.p$"/>
								</adapt>
							<!--</or>-->
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		
		<!-- UMC Shortcut -->
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.UMCSShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.umcshortcut.simulation"
			label= "%MSVL.UnifiedModelChecker.Shortcut.Name.Simulation"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count value= "1"></count>
						<iterate>
							<!--<or>
								<adapt type="org.eclipse.core.resources.IFolder">
									<test property="org.eclipse.debug.ui.matchesPattern" value="umc"/>
								</adapt>-->
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.p$"/>
								</adapt>
							<!--</or>-->
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.shortcut.UMCMShortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.umcshortcut.modeling"
			label= "%MSVL.UnifiedModelChecker.Shortcut.Name.Modeling"
			modes= "run" >
			<contextualLaunch>
				<enablement>
					<with variable= "selection">
						<count value= "1"></count>
						<iterate>
							<!--<or>
								<adapt type="org.eclipse.core.resources.IFolder">
									<test property="org.eclipse.debug.ui.matchesPattern" value="umc"/>
								</adapt>-->
								<adapt type="org.eclipse.core.resources.IFile">
									<test property="org.eclipse.debug.ui.matchesPattern" value="[\s|\S]+.p$"/>
								</adapt>
							<!--</or>-->
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigTabGroup"
			id= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigurationTabGroup"
			type= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType" >
            <launchMode
				mode="run"
				perspective="cn.edu.xidian.ictt.msvlide.perspective"
				description="%MSVL.LaunchConfigurationTabGroups.Run.Description">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>
	
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigurationTypeImage" >
		</launchConfigurationTypeImage>
	</extension>
	
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType"
			delegate= "cn.edu.xidian.ictt.msvlide.launch.config.LaunchDelegate"
			modes= "run,pmc,umc"
			name= "%MSVL.LaunchConfig.Name"
			delegateName="%MSVL.LaunchConfig.Delegate.Name"
			delegateDescription="%MSVL.LaunchConfig.Delegate.Description">
		</launchConfigurationType>
		
	</extension>
	<!-- launch end -->
	
	<!-- commands and handlers start 
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution>

		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="cn.edu.xidian.ictt.msvlide.commands.category"
			defaultHandler="cn.edu.xidian.ictt.msvlide.commands.handlers.xxxer"
			id="cn.edu.xidian.ictt.msvlide.commands.globalCommand"
			name="">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="cn.edu.xidian.ictt.msvlide.commands.handlers.GlobalMenuHandler"
			commandId="cn.edu.xidian.ictt.msvlide.commands.globalCommand">
		</handler>
	</extension>
	 commands handlers end-->
	
</plugin>




