<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Builder and Nature start -->
	<extension
		id="MSVLBuilder"
		name="%MSVL.Project.Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="cn.edu.xidian.ictt.msvlide.project.builder.MSVLBuilder"></run>
		</builder>
	</extension>
   
	<extension
		id="MSVLNature"
		name="%MSVL.Project.Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="cn.edu.xidian.ictt.msvlide.project.builder.MSVLNature"></run>
		</runtime>
		<builder
			id="cn.edu.xidian.ictt.msvlide.MSVLBuilder">
		</builder>
	</extension>
	<extension
		point="org.eclipse.ui.ide.projectNatureImages">
		<image
			id="cn.edu.xidian.ictt.msvlide.project.nature.image"
			icon="icons/m_16.png"
			natureId="cn.edu.xidian.ictt.msvlide.MSVLNature">
		</image>
	</extension>
   <!-- Builder and Nature end -->

	<!-- new project start-->
	<extension
		point="org.eclipse.ui.newWizards">
		<category
			name="%MSVL.Project.Category"
			id="cn.edu.xidian.ictt.msvlide.newwizards.category">
		</category>
		<wizard
            name="%MSVL.Project"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateProject"
            preferredPerspectives="cn.edu.xidian.ictt.msvlide.perspective"
            project="true"
            finalPerspective="cn.edu.xidian.ictt.msvlide.perspective"
            id="cn.edu.xidian.ictt.msvlide.newwizards.project">
			<description>%MSVL.Project.New.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Main"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateMainFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateMainFile">
            <description>%MSVL.File.New.Maim.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Function"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateFuncFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateFuncFile">
            <description>%MSVL.File.New.Function.Description</description>
		</wizard>
		<wizard
			name="%MSVL.File.New.Header"
            icon="icons/sample.gif"
            category="cn.edu.xidian.ictt.msvlide.newwizards.category"
            class="cn.edu.xidian.ictt.msvlide.ui.wizard.CreateHeaderFile"
            id="cn.edu.xidian.ictt.msvlide.newwizards.CreateHeaderFile">
            <description>%MSVL.File.New.Header.Description</description>
		</wizard>
	</extension>
	<!-- new project end-->
	
	<!-- Project Property Pages start -->
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			id="cn.edu.xidian.ictt.msvlide.project.propertypage"
			name="%MSVL.Project.Property.Page.Name"
			class="cn.edu.xidian.ictt.msvlide.ui.property.BuildOptions">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test 
						property="org.eclipse.core.resources.projectNature" 
						value="cn.edu.xidian.ictt.msvlide.MSVLNature"/>
				</adapt>
			</enabledWhen>
		</page>
	</extension>
	<!-- Project Property Pages end -->
	
	<!-- console start -->
	<extension
		point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory 
			label="%MSVL.Builder.Console"
			class="cn.edu.xidian.ictt.msvlide.console.MessageConsoleFactory"
			icon="icons/console_16.ico">
		</consoleFactory>
	</extension>
	<!-- console end -->
	
	<!-- action sets start -->
	<extension
		point="org.eclipse.ui.actionSets">
		<!-- convert -->
		<actionSet
			label="%MSVL.ActionSet.Convert"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Convert">
			<menu
				label="%MSVL.ActionSet.Convert.Menu"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.c2msvl"
				label="%MSVL.ActionSet.Convert.C"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.C.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.C2MSVLAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.verilog2msvl"
				label="%MSVL.ActionSet.Convert.Verilog"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.Verilog.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.Verilog2MSVLAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.convert.hdl2msvl"
				label="%MSVL.ActionSet.Convert.VHDL"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.Convert.VHDL.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.convert.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.VHDL2MSVLAction">
			</action>
		</actionSet>
		
		<!-- checker -->
		<actionSet
			label="%MSVL.ActionSet.Build"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Build">
			<menu
				label="%MSVL"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.build.action"
				label="%MSVL.Build"
				icon="icons/build_16.ico"
				tooltip="%MSVL.Build.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.BuildAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.clean.action"
				label="%MSVL.Clean"
				icon="icons/clean_16.ico"
				tooltip="%MSVL.Clean.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.CleanAction">
			</action>
		</actionSet>
		
		<!-- Model Checker -->
		<actionSet
			label="%MSVL.ActionSet.ModelChecker"
			visible="true"
			id="cn.edu.xidian.ictt.msvlide.ActionSet.Checker">
			<menu
				label="%MSVL.ActionSet.ModelChecker.Menu"
				path="additions"
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu">
				<separator
					name="content">
				</separator>
				<separator
					name="additions">
				</separator>
			</menu>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.pmc"
				label="%MSVL.ActionSet.ModelChecker.PMC"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.PMC.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.PMCheckerAction">
			</action>
			<action
				id="cn.edu.xidian.ictt.msvlide.actionsets.checker.umc"
				label="%MSVL.ActionSet.ModelChecker.UMC"
				icon="icons/copy_16.ico"
				tooltip="%MSVL.ActionSet.ModelChecker.UMC.Tooltip"
				menubarPath="cn.edu.xidian.ictt.msvlide.actionsets.checker.menu/content"
				toolbarPath="Normal/additions"
				class="cn.edu.xidian.ictt.msvlide.action.UMCheckerAction">
			</action>
		</actionSet>
	</extension>
	<!-- action sets end -->
	
	<!-- launch start -->
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType"
			delegate= "cn.edu.xidian.ictt.msvlide.launch.LaunchDelegate"
			modes= "run, debug, pmc, umc"
			name= "%MSVL.LaunchConfig.Name"
			delegateName="%MSVL.LaunchConfig.Delegate.Name"
			delegateDescription="%MSVL.LaunchConfig.Delegate.Description">
		</launchConfigurationType>
	</extension>
	
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class= "cn.edu.xidian.ictt.msvlide.launch.Shortcut"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.launch.launchshortcut"
			label= "%MSVL.LaunchShortcut.Name"
			modes= "run, debug" >
			<contextualLaunch>
				<enablement>
					<with
						variable= "selection">
						<count
							value= "1">
						</count>
						<iterate>
							<adapt
								type="org.eclipse.core.resources.IProject">
								<test
									value="cn.edu.xidian.ictt.msvlide.MSVLNature"
									property="org.eclipse.core.resources.projectNature">
								</test>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>

	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigTabGroup"
			id= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigurationTabGroup"
			type= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType" >
            <launchMode
				mode="run"
				perspective="cn.edu.xidian.ictt.msvlide.perspective"
				description="%MSVL.LaunchConfigurationTabGroups.Run.Description">
            </launchMode>
            <launchMode 
				mode="debug"
				perspective="cn.edu.xidian.ictt.msvlide.perspective"
				description="%MSVL.LaunchConfigurationTabGroups.Debug.Description">
            </launchMode>
            <launchMode
				mode="umc"
				description="%MSVL.LaunchConfigurationTabGroups.PMC.Description">
            </launchMode>
            <launchMode
				mode="pmc"
				description="%MSVL.LaunchConfigurationTabGroups.UMC.Description">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>
	
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID= "cn.edu.xidian.ictt.msvlide.launch.ConfigurationType"
			icon= "icons/console_16.ico"
			id= "cn.edu.xidian.ictt.msvlide.ui.launch.ConfigurationTypeImage" >
		</launchConfigurationTypeImage>
	</extension>
	<!-- launch end -->
	
	<!-- commands and handlers start 
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="cn.edu.xidian.ictt.msvlide.commands.category"
			defaultHandler="cn.edu.xidian.ictt.msvlide.commands.handlers.xxxer"
			id="cn.edu.xidian.ictt.msvlide.commands.globalCommand"
			name="">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="cn.edu.xidian.ictt.msvlide.commands.handlers.GlobalMenuHandler"
			commandId="cn.edu.xidian.ictt.msvlide.commands.globalCommand">
		</handler>
	</extension>
	 commands handlers end-->
	
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			id="cn.edu.xidian.ictt.msvlide.perspective"
			name="MSVL"
			icon="icons/sample.gif"
			class="cn.edu.xidian.ictt.msvlide.perspective.Factory">
			
			<description>%MSVL.Perspective.Description</description>
		</perspective>
	</extension>
	
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory 
			class="cn.edu.xidian.ictt.msvlide.launch.MAdapterFactory"
			adaptableType="org.eclipse.core.resources.IResource">
			<adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
		</factory>
	</extension>


	
</plugin>




